<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todo</title>
</head>
<body>
  <div id="app">
    <h1>{{header}}</h1>
    <p v-once>데이터: {{msg | capitalize}}</p>
    <p>{{reverseMsg}}</p>
    <p>함수 실행 결과: {{hello()}}</p>
    <!-- <img v-bind:src="imageSource" width=400px> -->
    <!-- <a v-bind:href="barackInsta">go to insta</a> -->
    <div id="userInput">
      <input v-model='userInput' @keyup.enter='addInput'>
      <button @click='addInput'>todo 추가</button>
    </div>
    <ul>
      <li v-for='(todo, index) in todos'>
        <span>{{index+1}} : {{todo}}</span></li>
      </ul>
      <!-- <p>{{todos}}</p> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>
</html>