body {
    background-color: seagreen
}
.salmon {
    color: darksalmon;
    font-size: 20px;
    font-style: italic;
    font-family: 'Anton', sans-serif;
}
hr {
    height: 1px;
    color: rgb(124, 26, 26);
    background-color: black;
}
h1 {
    color: hotpink
}
h2 {
    color: yellow
}
h3 {
    color: purple
}
p {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
}